.chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 60%;/* limit the width */
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-top: 3rem;
}

.chat__main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 2rem; */
    min-height: 100vh;
    background-color: #ddddcc;
}

.chat-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #f0f0f0;
    font-family: var(--secondary-font);
    background-color: #403f2b;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.message-list {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}


.message {
    max-width: 70%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    clear: both;
    display: inline-block;
}

.message-sender {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 2px;
}


.message.sent {
    background-color: #dcf8c6;
    font-family:var(--secondary-font);
    font-weight: 500;
    align-self: flex-end;
    float: right;
}

.message-timestamp {
    font-family:sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.message.received {
    background-color: #fff;
    font-family:var(--secondary-font);
    font-weight: 500;
    align-self: flex-start;
    float: left;
}

.input-area {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #faf6f6e0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.send-button {
    box-shadow: 0 2px 13px 0 rgba(45, 54, 65, 0.75);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background: linear-gradient(to right, #443e37, #5a5349, #706c5a);
  cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}