.heading__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

.mainpage__container {
  background-color: rgb(221, 221, 204);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading__title > h1 {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 400;
  color: rgb(64, 63, 43);
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  line-height: 1.75rem;
  color: rgb(64, 63, 43);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.22px;
  padding: 2.5rem;
  flex-wrap: wrap;
}

.icons__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-bottom: 2rem;
}

.icon__content > img {
  height: 5rem;
  display: block;
  margin: 0 auto;
}

.icon__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.icon__content > p {
  color: rgb(64, 63, 43);
  font-family: var(--secondary-font);
  font-size: 0.8rem;
  text-align: center;
}

.about__small_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  line-height: 1.75rem;
  color: rgb(64, 63, 43);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.22px;
  /* padding: 2.5rem; */
  flex-wrap: wrap;
  padding-bottom: 2rem;
}